<div class="container">
 <div class="row mb-4">
  <div class="col text-center plr-0">
    <a href="#" class="size-btn" data-toggle="modal" data-target="#size-guide-detail">Size Guide</a>
  </div>
</div>
<!-- basic modal  -->
<div class="modal fade" id="size-guide-detail" tabindex="-1" role="dialog" aria-labelledby="size-guide-detail" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
           <h4 class="modal-title" id="myModalLabel">Size Guide</h4>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
           </div>
          <div class="modal-body">
           <img src="https://cdn.shopify.com/s/files/1/0620/1648/7614/files/size-chart.jpg?v=1657712234" class="size-guide-info">
           </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>