<div class="page-width">
  <div class="privacy-policy-info">
  <h1  class="page-heading">{{ page.title }}</h1>
  <div class="privacy-description-info">
 {{ page.content }}
  </div>
</div>
</div>

{% schema %}
{
  "name": "Privacy Policy",
  "settings": [
    
  ]
  ,
  "presets": [
    {
      "name": "Privacy Policy",
      "category": "Promotional"
    }
  ]
}
{% endschema %}