.w-100 {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .medium-up--hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large--hide {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 989px) {
  .medium--hide {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .small--hide {
    display: none !important;
  }
}

.es-awards {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);

  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: 768px) {
        justify-content: center;

        .image {
          width: 100px;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.es-icon-with-text {
  text-align: center;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .es-iwt--text {
    margin-top: 4px;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      background: rgba(255, 255, 255, 0.31);
      height: 1px;
      width: 100%;
      z-index: 1;
    }

    .es-iwt--text-wrapper {
      color: #B19F67;
      text-align: center;
      font-family: "Centra No2", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px;
      /* 153.333% */
      text-transform: uppercase;
      padding: 0 24px;
      width: max-content;
      z-index: 2;
      margin: auto;
      position: relative;
      background-color: black;
    }
  }
}

.es-featured-collection {
  .price--on-sale .price__sale {
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__information .price span {
    font-size: 15px;
  }

  .price__container {
    .price-item {
      font-weight: 400 !important;
      font-family: 'SourceSerif-Pro-regular' !important;
      font-size: 16px !important;
    }

    .yas_newd_pric {
      padding-right: 5px;
    }
  }

  .card__heading {
    color: #FFF !important;
  }

  @media (max-width: 768px) {
    .yas-card-title_wrapp a {
      font-size: 16px !important;
    }
  }

  .title {
    color: #FFF !important;
    text-align: center;
    font-family: "Centra No2", sans-serif !important;
    font-size: 45px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 100%;
    /* 51.111% */
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 32px !important;
    }
  }

  .card-wrapper {
    padding-bottom: 30px;

    .card__content {
      position: relative;

      .card__information {
        padding-bottom: 8px;
      }

      .product_small_desc_info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 110%;
        text-align: center;
        transform: translateY(100%);
      }
    }
  }

  .es-swiper {
    overflow: hidden;

    &>.swiper-wrapper {
      padding-left: 0;
      align-items: stretch;

      .swiper-slide {
        height: auto !important;

        .card-wrapper {
          width: 100%;

          .card__information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .yas-card-title_wrapp {
              a {
                color: #FFF;
                text-align: center;
                font-family: "Centra No2";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.6px;
                text-transform: capitalize;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 250px;
                display: block;
                margin: auto;

                @media screen and (max-width: 1200px) {
                  max-width: 200px;
                }

                @media screen and (max-width: 768px) {
                  max-width: 140px;
                }
              }
            }

            .card__heading {
              flex: auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .yas-card-title_wrapp+* {
                margin-top: auto;
              }
            }
          }
        }
      }
    }

    .swiper-wrapper[data-size="1"],
    .swiper-wrapper[data-size="2"],
    .swiper-wrapper[data-size="3"] {
      justify-content: center;

      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: auto !important;
    height: auto;
    transform: translateZ(9000px);

    @media (min-width: 769px) {
      top: 36%;
    }

    &::after {
      content: unset;
    }
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .es-tab {
    .es-tab--header {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        gap: 22px;
      }

      a {
        color: #FFF !important;
        text-align: center;
        font-family: "Centra No2";
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400;
        line-height: 23px;
        /* 115% */
        text-transform: capitalize;
        display: block;
        position: relative;

        @media (max-width: 768px) {
          font-size: 13px !important;
        }

        &.active::after {
          content: '';
          height: 3px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.41);
        }
      }
    }

    .es-tab--body {
      .es-tab--body-item {
        display: none;

        &.active {
          display: block;
        }

        &>.swiper {
          max-width: calc(var(--page-width) + 80px);
          padding: 0 50px;

          @media (max-width: 768px) {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

.es-curated-reviews {
  height: auto !important;
  background-color: var(--background-color);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .container {
    .curated-reviews-swiper {
      .swiper-wrapper {
        margin-bottom: 60px;

        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .swiper-pagination-bullet {
        background: #4C4C4C;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: #FFF;
        }
      }

      .swiper-slide {
        height: auto !important;
        justify-content: center;

        .cr-text,
        .cr-text * {
          color: #FFF;
          text-align: center;
          font-family: "Source Serif Pro" !important;
          font-size: 55px;
          font-style: italic;
          font-weight: 400;
          line-height: 71px;
          /* 129.091% */
          letter-spacing: 0.6px;

          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 31px;
          }
        }

        .cr-name {
          color: #FFF;
          text-align: center;
          font-family: "Centra No2";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px;
          /* 208.333% */
          letter-spacing: 0.6px;
          text-transform: uppercase;
          margin-top: 10px;

          @media (max-width: 768px) {
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  #shopify-section-header-second {
    transition: .3s ease;
    background-color: #000;
    z-index: 12;

    .yas-main-header {
      transition: .3s ease;

      .yas-centerside-h {
        img {
          transition: .3s ease;
        }
      }
    }

    &.scrolled {
      position: sticky !important;
      top: 0 !important;

      .yas-main-header {
        padding: 16px 0;

        .yas-centerside-h {
          img {
            width: 126px;
            height: auto;
          }
        }
      }
    }
  }

  #shopify-section-announcement-bar,
  #shopify-section-header {
    transition: .3s ease;
    z-index: 999;

    &.scrolled {
      top: -40px !important;
      z-index: 1000 !important;

      .header__icons {
        position: relative;
        top: 53px;

        .modal__content {
          min-width: 500px;
          left: unset !important;
          right: -5px;

          .modal-overlay {
            display: none;
          }
        }
      }
    }

    .search-modal__content {
      .field:after {
        content: unset;
      }

      *:focus-visible {
        outline: unset !important;
        box-shadow: unset !important;
      }
    }
  }

  .yas-under-header {
    position: absolute;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  #shopify-section-header {
    z-index: 10;
    background-color: #000 !important;
  }

  .upcart-cart {
    z-index: 11 !important;
  }
}

.muteBtn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  
  img {
    width: 20px;
    height: 20px;
    display: block;
  }
}

.es-media-with-text {
  .container {
    max-width: unset;
    padding: 0;
    position: relative;

    .text-content {
      position: absolute;
      bottom: 30px;
      left: 40px;
      max-width: 520px;
      z-index: 4;

      @media (max-width: 768px) {
        left: 20px;
        bottom: 20px;
        max-width: 225px;

        .text-content--text {
          margin-top: 4px;
        }
      }
    }

    .media-wrapper {
      display: flex;
      height: 100%;

      @media screen and (max-width: 989px) {
        flex-direction: column;
      }

      .media-item {
        flex: 1;
        height: 100%;
        position: relative;

        &::after {
          content: '';
          background-color: var(--background-color);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          z-index: 2;
        }

        &.hover-effect:hover::after {
          background-color: var(--hover-background-color);
        }

        .video {
          &::before {
            padding-top: 45%;
            content: '';
            display: block;

            @media (max-width: 750px) {
              padding-top: 190%;
            }
          }
        }

        .video,
        .image {
          position: relative;
          height: 100%;
          width: 100%;

          & > video,
          & > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 2;
          }

          /* Hide native video controls */
          video {
            outline: none;
            background: transparent;
          }

          /* Style custom mute button */

        }

        .media-item--link {
          z-index: 3;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    &.with-padding {
      height: auto;
      max-width: 1440px;
      padding-left: 80px;
      padding-right: 80px;

      @media (max-width: 750px) {
        padding-left: 30px;
        padding-right: 30px;
      }

      .media-wrapper {
        @media (max-width: 750px) {
          padding-top: 26px;
        }
        .media-item {
          @media (max-width: 750px) {
            &:last-child {
              display: none;
            }
          }
          .video,
          .image {
            &::before {
              content: "";
              display: block;
              padding-top: 130%;
            }
          }
        }
      }
    }

    .content-wrapper {
      z-index: 3;
      position: absolute;

      &.center {
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 24px;
        transform: translate(-50%, -50%);
      }

      &.bottom {
        bottom: 83px
      }

      &.right {
        right: 140px;
        max-width: 550px;
      }

      @media screen and (max-width: 989px) {
        &.bottom.right {
          top: 50%;
          right: 0;
          width: 100%;
          bottom: unset;
          padding: 0 24px;
          text-align: center;
          transform: translateY(-50%);
        }
      }


      .content-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 50px;
        font-size: 60px;
        color: #fff;
        width: 100%;

        @media (max-width: 989px) {
          font-size: 40px;
          line-height: 40px;
        }

        a {
          color: inherit;
        }
      }

      .content-sub-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: .06em;
        line-height: normal;
        color: #fff;
        padding: 0 20px;
        margin: 0;
        border: 0px solid #fff;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background: #dd4124;
        border-radius: 15px;

        @media screen and (max-width: 989px) {
          white-space: wrap;
        }
      }
    }

    .logos-wrapper {
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 140px;
      z-index: 4;

      @media screen and (max-width: 989px) {
        padding: 0 20px;
        flex-wrap: wrap;
      }

      .logos-heading {
        width: auto;
        display: flex;
        margin-right: 65px;
        align-items: flex-end;
        font-family: 'CentraNo2-Book' !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        min-width: max-content;
        line-height: 18px;
        text-align: left;
        font-size: 15px;
        color: #fff;

        @media screen and (max-width: 989px) {
          margin: 0 0 15px;
          text-align: center;
        }
      }

      .swiper-wrapper {
        align-items: center;

        .swiper-slide {
          img {
            display: block;
            margin: auto;
          }
        }

        @media screen and (min-width: 990px) {
          .swiper-slide {
            max-width: max-content;
          }
        }
      }
    }
  }
}

.es-homepage-footer {
  .footer-wrapper {
    display: flex;
    height: 100vh;

    @media (max-width: 989px) {
      flex-direction: column;
    }

    .slider__newsletter {
      flex: 1;
      height: 100%;
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      background: #fff;
      align-items: center;
      padding: 110px 0 40px;
      background-size: cover;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: top right;
      background-image: var(--background-image);

      @media (max-width: 989px) {
        padding: 60px 0;
        max-width: 100%;
      }

      .footer__newsletter {
        padding: 0 50px;
        max-width: 1640px;
        align-items: center;

        @media (max-width: 989px) {
          padding: 0 15px;
        }
      }

      .newsletter-form__field-wrapper {
        max-width: unset;
        margin-top: 25px;
      }

      .footer-text,
      .footer-text * {
        max-width: 630px;
        margin: 40px auto;
        text-align: center;
        font-size: 18px;
        color: white;
        line-height: 27px;
        font-family: "CentraNo2-Light" !important;
        text-transform: uppercase;
        font-weight: 300;

        strong {
          font-weight: 600;
        }
      }

      .submit-w-text {
        .field__button {
          margin: 0 auto;
          font-family: "CentraNo2-Light" !important;
          font-weight: 300 !important;
          font-size: 17px;
          letter-spacing: 0.06em;
          line-height: 23px;
          text-align: left;
          color: white;
          border: 1px solid #dd4124;
          margin-top: 27px;
          width: auto;
          padding: 0 25px;
          position: relative;
          color: white;
          background: #dd4124;
          border-radius: 15px;
        }
      }

      .field {
        input {
          border-bottom: 1px solid white;
          max-width: 686px;
          font-family: "CentraNo2-Light" !important;
          font-weight: 300 !important;
          font-size: 17px;
          color: white;
          margin: 0 auto;
          box-shadow: none;
          background: transparent;
          max-width: unset;

          &+label {
            left: 0;
            color: #AFAFAF;

            @media (max-width: 989px) {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        &::after,
        &::before {
          box-shadow: unset;
          border: 0;
        }
      }

      .footer-block__heading {
        font-family: "Source Serif 4", sans-serif !important;
        font-weight: 300 !important;
        text-transform: unset;
        font-style: italic;
        text-align: center;
        text-align: center;
        line-height: 60px;
        max-width: 660px;
        font-size: 60px;
        color: white;

        @media (max-width: 989px) {
          font-size: 40px;
          line-height: 40px;
          margin: 0;

          &+svg {
            margin-top: 20px;
            margin-bottom: 25px;
          }
        }
      }

      @media (max-width: 989px) {
        .list-social__item {
          svg {
            width: 28px;
            height: auto;
          }
        }
      }
    }

    footer {
      flex: 1;
      height: 100%;
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      background: #fff;
      align-items: center;
      padding: 110px 40px 40px 130px;
      justify-content: flex-start;

      @media (max-width: 989px) {
        max-width: 100%;
        padding: 60px 0 0;
        text-align: center;
      }

      .footer__content-top {
        padding: 0;

        @media (max-width: 989px) {
          padding: 0 15px;
        }

        .footer__blocks-wrapper {
          justify-content: center;
          flex-direction: column;
          row-gap: 30px;

          img {
            height: auto;
            max-width: 75px;
            margin-bottom: 10px;
          }

          .footer-block__details-content {
            color: #000;
            line-height: 20px;

            p {
              line-height: inherit;
            }

            .list-menu__item--link {
              font-size: 16px;
              line-height: 20px;
              text-transform: uppercase;
              font-family: "CentraNo2-Light" !important;
              font-weight: 300 !important;
              text-decoration: none;
              color: inherit;
              display: block;
              line-height: 20px;

              @media (max-width: 989px) {
                font-size: 13px;
                line-height: normal;
              }
            }
          }

          .footer-block__heading {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
          }

          .grid__item {
            width: 100% !important;
          }

          @media (max-width: 989px) {
            .footer-block-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 24px;
              text-align: left;
              gap: 15px;

              img {
                width: 60px;
                margin-bottom: 0;
              }

              .footer-block__details-content {
                max-width: 180px;
                margin-bottom: 0;

                p {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      .footer__content-bottom {
        border: 0;
        padding-top: 15px;

        @media (max-width: 989px) {
          background-color: #EFEFEF;
          padding-bottom: 15px;
        }

        .footer__content-bottom-wrapper {
          padding: 0;

          .footer__column--info {
            align-items: flex-start;

            .footer__payment {
              margin: 0;
            }

            .footer__copyright {
              margin: 25px 0 0;
              color: #000;
              width: 100%;

              * {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.upcart-cart {
  z-index: 21474836409999 !important;

  .styles_CartPreview__card__ {
    background-color: #FFF;
  }

  .upcart-rewards-tier-description {
    display: none;
  }

  p {
    font-family: inherit !important;
  }

  .upcart-rewards-message {
    p {
      color: #000;
    }
  }

  .upcart-header-text,
  .upcart-announcement p {
    color: #000 !important;
  }

  .upcart-es-message-wrapper {
    gap: 24px;
    display: flex;
    align-items: center;
    padding-top: 15px;

    .upcart-es-message-wrapper--item {
      gap: 12px;
      flex: 1;
      display: flex;
      align-items: center;

      span {
        color: #000;
        font-size: 13px;
        text-align: left;
        font-weight: 400;
        line-height: 15px;
        font-style: normal;
        text-transform: capitalize;
        font-family: "Centra No2", sans-serif;
      }
    }
  }

  .styles_Header__closeButton__ {
    background-color: transparent;

    .styles_Header__closeButtonIcon__ {
      fill: #000000;
      height: 16px;
      width: 16px;
    }
  }

  .styles_Header__ {
    border-bottom: 0;
    padding-bottom: 18px;
  }

  .upcart-cart-body {
    .upcart-rewards {
      .upcart-rewards-message {
        color: #000;
        text-align: center;
        font-family: "Centra No2";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        /* 114.286% */
      }
    }
  }

  .upcart-rewards {
    padding: 18px 20px 12px;
    position: relative;

    &::after {
      content: '';
      border-bottom: 1px solid #E2E2E2;
      display: block;
      position: absolute;
      left: 20px;
      bottom: 0;
      width: calc(100% - 40px);
    }
  }

  .upcart-products-section {
    padding: 24px 0;
    background-color: #fff;

    .styles_ProductRow__product__ {
      padding: 0 20px;
      border-bottom: 0;

      .Stack--spacingLoose {
        margin: 0 !important;

        .Stack__item {
          margin: 0 !important;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .upcart-item-properties {
            display: none;
          }

          .upcart-product-image-wrapper {
            height: auto !important;

            a {
              max-height: unset !important;

              img {
                max-height: unset !important;
              }
            }
          }

          .styles_ProductRow__productHeading__ {
            padding-left: 15px;

            .upcart-product-title {
              .upcart-product-title-link {
                color: #000;
                font-family: "Centra No2", sans-serif !important;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
              }
            }

            .upcart-item-option {
              color: #707070;
              font-family: "Centra No2";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 9.9px;
              /* 66% */
            }
          }

          .Stack {
            margin: 0 !important;
            padding-left: 15px;
            flex-wrap: nowrap !important;
          }

          .styles_QuantityField__ {
            .upcart-product-quantity-minus {
              height: 40px;
              border-right: 0;
              max-height: 40px;
              border-top-left-radius: 50px !important;
              border-bottom-left-radius: 50px !important;
            }

            input {
              height: 40px;
              border-left: 0;
              border-right: 0;
              max-height: 40px;
            }

            .upcart-product-quantity-plus {
              height: 40px;
              border-left: 0;
              max-height: 40px;
              border-top-right-radius: 50px !important;
              border-bottom-right-radius: 50px !important;
            }
          }
        }
      }

      &+.upcart-product-item {
        margin-top: 16px;
      }
    }
  }

  #up-upsell-carousel {
    border-top: 1px solid #E2E2E2;
    padding: 16px 18px;

    &::before {
      content: 'Great wardrobe additions';
      color: #000;
      display: block;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: "Centra No2", sans-serif;
    }

    .upcart-upsells-title {
      display: none;

      &~span {
        width: 100%;
        display: block;
        max-width: 380px;
        margin-right: 16px;
        background-color: #fff;

        .styles_PreviewCarousel__verticalWrapper__ {
          margin-top: 0;
        }
      }
    }

    .control-prev {
      left: -16px !important;
    }

    .control-next {
      right: -16px !important;
    }

    .Stack {
      margin: 0 !important;

      .Stack__item {
        margin: 0 !important;

        .upcart-upsell-item-image-wrapper {
          height: 110px !important;
          justify-content: flex-start;

          img {
            max-height: 110px !important;
          }
        }
      }

      &>.Stack__item--fill {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .styles_PreviewCarousel__selectWrapper__ {
          width: 100%;

          .styles_PreviewCarousel__select__ {
            border-radius: 50px;
            height: 40px;
            max-height: 40px;
          }
        }

        .styles_PreviewCarousel__inputWrapper__ {
          max-width: max-content;

          input {
            max-width: max-content;
            padding: 8px 24px !important;
            border-radius: 50px;
            max-height: 40px !important;
            height: 40px !important;
          }
        }
      }
    }

    .flickity-viewport {
      height: 142px;
    }
  }

  .upcart-trust-badge-image {
    width: 300px;
    margin: auto;
    display: block;
  }

  .DiscountCodeModule_DiscountCodeModule__form__ input {
    border-radius: 50px;
    height: 40px;
  }

  .upcart-discount-code-input-wrapper {
    border-radius: 50px;
    overflow: hidden;
  }

  .styles_TrashButton__deleteButton__ {
    display: none;
  }

  button.UpcartDesignSettings__button {
    background-color: #000;
    border-radius: 50px;
  }

  .styles_Footer__ {
    border-top: 0;
    background-color: #F6F6F7;
  }

  .styles_CustomButton__ {
    a {
      border-radius: 50px;
      height: 44px;
      padding: 12px !important;
    }
  }

  .styles_Footer__checkoutButton__ {
    &+div {
      display: none;
    }
  }

  .upcart-item-prices-row {
    flex-wrap: wrap;
    row-gap: 0 !important;
  }
}

.yas-videom-pop .white-popup-block {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.yas-videom-pop .mfp-content {
  height: 100%;
  width: 100%;
}

.mfp-wrap.yas-videom-pop {
  z-index: 9999999999;
}

.yas-videom-pop.mfp-close-btn-in .mfp-close {
  right: 44px;
  top: 40px;
  z-index: 9;
}

.mfp-bg.mfp-ready {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 1;
  display: block;
}

.white-popup-block {
  max-width: 60%;
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
  right: -44px;
  top: -40px;
  font-size: 44px;
}

.white-popup-block video {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}

.product__info-container {
  .es-highlight {
    padding-bottom: 24px;

    .es-highlight--text,
    .es-highlight--text p {
      color: #FFF;
      font-family: "Source Serif 4", sans-serif !important;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 155%;
      letter-spacing: 0.6px;

      @media screen and (max-width: 768px) {
        font-size: 16px;
      }
    }

    .es-highlight--name {
      color: #FFF;
      font-family: "Centra No2";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      display: flex;
      gap: 8px;

      img {
        display: block;
        margin-top: 3px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;

    .product__title {
      order: -2;
    }

    .es-highlight {
      order: 0;

      &+div {
        order: -1;

        .price__container {
          margin-bottom: 10px !important;
        }
      }
    }
  }
}


.es-perceived-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  padding-bottom: 16px;

  @media (max-width: 1240px) {
    justify-content: center;
    flex-wrap: wrap;
  }

  .es-perceived-icon {
    display: flex;
    align-items: center;
    gap: 8px;

    .es-pi--text {
      color: #FFF;
      font-family: "Centra No2", sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      margin-top: 7px;

      @media (max-width: 750px) {
        font-size: 14px;
      }
    }
  }
}

.custom-collection {
  .facets-vertical.page-width {
    position: relative;

    .facets-wrapper {
      position: sticky;
      top: 65px;
      z-index: 9;
      background-color: #000;
      max-width: unset;
      width: 100%;
      padding: 0;

      @media (max-width: 750px) {
        top: 55px;
      }

      .facets-container {
        padding-right: 2rem;
        max-width: 90%;
        margin: auto;
        display: flex;

        @media (max-width: 750px) {
          display: grid;
          padding: 12px 0;
          border-top: 0;
          max-width: 95%;
        }
      }
    }
  }
}

main {
  .facets-vertical.page-width {
    .facets-wrapper:has(.menu-opening) {
      z-index: 11 !important;
    }
  }
}

.font-h2,
.font-h2 * {
  color: #FFF;
  font-size: 50px;
  line-height: normal;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 400 !important;
  line-height: 100% !important;
  font-family: "Centra No2", sans-serif !important;
  margin-bottom: 0;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.font-text,
.font-text p {
  color: #FFF;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 100% !important;
  font-weight: normal !important;
  font-family: "Centra No2", sans-serif !important;
  margin-bottom: 0;

  @media (max-width: 768px) {
    font-size: 10px;
  }
}

.es-image-with-products {
  .iwp-media {
    position: relative;

    .image {
      position: relative;
      padding-top: 50%;

      & > img,
      & > video {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;   
      }

      @media (max-width: 750px) {
        padding-top: 130%;
      }
    }

    .iwp-content {
      position: absolute;
      bottom: 48px;
      left: 60px;

      .font-text {
        padding-left: 3px;
      }

      @media (max-width: 768px) {
        bottom: 15px;
        left: 30px;
        max-width: 250px;

        .font-text {
          padding-left: 1px;
          margin-top: 8px;
        }
      }
    }
  }

  .iwp-products {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FFF;

    .product-grid {
      gap: 4px;

      .grid__item {
        width: calc(25% - 4px * 3 / 4);
        max-width: calc(25% - 4px * 3 / 4);

        .card__heading {
          position: static;
          overflow-y: hidden !important;

          .full-unstyled-link {
            &::after {
              content: '';
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }
          }
        }

        @media (max-width: 750px) {
          width: calc(50% - 4px / 2);
          max-width: calc(50% - 4px / 2);
        }
      }
    }
  }
}

.es-card-wrapper {
  .media.media--hover-effect>img.active {
    opacity: 1;

    &~img.active {
      display: none !important;
    }
  }

  &:hover {
    .media.media--hover-effect > img {
      display: none !important;
    }
    .media.media--hover-effect > img.active ~ img.active,
    .media.media--hover-effect.single-media > img ~ img {
      opacity: 1;
      display: block !important;
    }
  }

  .card {
    .card__inner {
      .swym-button.swym-add-to-wishlist-view-product.swym-star {
        margin-right: 4px;

        &::after {
          content: "";
          color: var(--text-color) !important;
        }
      }

      .collection_all_images_info {
        display: none;
      }

      .card__media {
        position: absolute;
        width: 100%;
        height: 100%;

        a {
          width: 100%;
          height: 100%;
          display: block;
          padding: 0;
          margin: 0;
        }

        .media {
          width: 100%;
          height: 100%;

          img {
            display: none;

            &.active {
              display: block;
            }
          }
          
          &.single-media {
            img {
              display: block;
            }
          }
        }
      }

      .card__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        font-size: 13px;
        letter-spacing: .16px;
        line-height: 100% !important;
        font-weight: 400 !important;
        font-family: 'Centra No2', sans-serif !important;
        padding: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .open-modal {
          font-size: 14px;
          color: var(--text-color);
          text-transform: uppercase;
          font-family: 'Centra No2', sans-serif !important;
        }

        .card-information {
          gap: 20px;
          display: flex;
          align-items: flex-end;
          justify-content: space-between;

          @media (max-width: 768px) {
            display: none;
          }

          & > div:first-child {
            max-width: calc(100% - 80px);
          }

          & > div:last-child {
            min-width: 40px;
          }

          .price--on-sale {
            .price__container {
              .price__sale {
                display: flex;
                justify-content: flex-end;
              }
            }
          }

          .price__container {
            text-align: right;
            font-size: 15px;
            color: var(--text-color);

            span.money {
              font-size: 15px;
              font-family: 'Centra No2', sans-serif !important;
            }

            * {
              color: inherit;
            }

            .yas_newd_pric {
              padding: 5px 8px 1px 6px;
              background-color: #000 !important;
              color: #FFF;
              font-size: 10px;
              margin: 0;
            }

            s.price-item--regular {
              font-size: 12px;
              margin: 0;
            }
          }

          .card__heading a {
            padding: 0;
            margin: 0;
            font-size: 15px !important;
            font-weight: normal !important;
            text-transform: uppercase;
            max-width: 100%;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Centra No2', sans-serif !important;
            color: var(--text-color);
          }

          .collection-product-desc-info,
          .collection-product-desc-info * {
            color: var(--text-color);
            max-width: 100%;
            width: 100%;
            font-size: 13px !important;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Centra No2', sans-serif !important;
            font-weight: normal !important;
            margin: 0;

            &.with-hovering {
              .hover-collection-product-desc-info {
                display: none;
              }
            }
          }
        }

        .card__content-top {
          z-index: 5;
          display: flex;
          justify-content: space-between;

          fieldset {
            display: flex;
            gap: 4px;
            pointer-events: none;
          }

          .card__content-cta {
            @media (max-width: 768px) {
              display: none;
            }

            fieldset {
              flex-wrap: wrap;
              justify-content: flex-end;
            }
          }
        }

        .quick-add-form {
          display: flex;
          flex-direction: column;
          font-size: 13px;
          letter-spacing: .16px;
          line-height: 100% !important;
          font-weight: 400 !important;
          font-family: 'Centra No2', sans-serif !important;

          .variant-option-color {
            order: 2;
            gap: 20px;
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: 12px;

            &>label {
              text-transform: uppercase;
            }
          }

          .variant-option-size {
            order: 1;
            gap: 20px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid black;
            padding: 20px 12px 8px;

            &>label {
              text-transform: uppercase;
            }
          }

          .card__content-footer {
            order: 3;
            padding: 0 12px 12px;
            display: flex;
            align-items: center;
            width: 100%;
          }
        }

        fieldset {
          label {
            cursor: pointer;
          }

          input[type="radio"] {
            border: 1px solid #fff;
            padding: 5px;
            -webkit-appearance: none;
            -webkit-border-radius: 0px;

            &:checked {
              border: 1px solid #000;

              &+label {
                font-weight: bolder;
              }
            }

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;
            }
          }

          &[name="color"] {
            label {
              display: none;
            }
          }

          &[name="size"] {
            input {
              display: none;

              &:disabled+label {
                opacity: 0.5;
                cursor: not-allowed;
                text-decoration: line-through;
              }
            }

            column-gap: 14px;
          }
        }

        .quick-add-popup {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          background: white;
          z-index: 100;
          width: 100%;
          color: #000;
        }

        .quick-add-content {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        .quick-add-btn {
          background: #000;
          color: white;
          height: 30px;
          padding: 2px;
          border: none;
          cursor: pointer;
          width: 100%;
          text-transform: uppercase;
          font-size: 13px;
          padding-top: 6px;
        }

        .close-quick-add {
          background: none;
          border: none;
          cursor: pointer;
          height: 30px;
          background: #D6D6D6;
          text-transform: uppercase;
          line-height: 100%;
          padding-top: 6px;
          min-width: 100px;
        }
      }
    }

    &:hover {
      .card__inner {
        .card__content {
          .with-hovering {
            .main-collection-product-desc-info {
              display: none;
            }
            .hover-collection-product-desc-info {
              display: block !important;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: #F0ECE6 !important;
  border-top: 1px solid #000 !important;

  .footer__content-top {
    padding-bottom: 0 !important;
    border-bottom: 1px solid #000;

    @media (max-width: 750px) {
      padding: 0 !important;

      .footer__blocks-wrapper {
        & > div:first-child {
          padding: 24px 30px;
          background-color: #FFF;
          border-bottom: 1px solid #000;
        }
      }
    }
  }

  .footer__content-bottom-wrapper {
    @media (min-width: 750px) {
      padding-left: 100px;  
    }
  }

  .page-width {
    max-width: unset;

    .footer-block__heading {
      font: normal normal bold 14px/18px 'Centra No2' !important;
      letter-spacing: 0.84px;
      color: #000000;
      text-transform: uppercase;
      margin: 0;

      &~.footer-block__heading {
        margin-top: 30px;
      }
    }

    .list-menu__item--link {
      font: normal normal 300 14px/18px 'Centra No2' !important;
      letter-spacing: 0.84px;
      color: #000000;
      text-transform: uppercase;
      text-decoration: unset;

      &:hover {
        color: #000000 !important;
        text-decoration: underline;
      }
    }

    .footer-block--newsletter {
      flex-direction: column;
      align-items: flex-start;
      padding-right: 24px;
      height: 100%;

      form {
        max-width: unset;

        .newsletter-form__field-wrapper {
          max-width: unset;
        }
      }

      .footer-block__heading {
        font-size: 20px !important;
        font-weight: bold !important;
        font-family: 'Centra No2', sans-serif !important;
        letter-spacing: 0.72px;
        color: #000000;
        text-transform: uppercase;
        text-shadow: 0 0 black;
        line-height: 120% !important;
        margin-bottom: 24px;

        @media (max-width: 750px) {
          text-align: left;
        }
        
        p {
          font-size: inherit;
          line-height: inherit;
          font-family: inherit !important;
        }
      }

      input[type="email"] {
        font-family: 'Centra No2', sans-serif !important;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.96px;
        color: #000;
        background-color: #FFF;
        border: 1px solid #000;
        text-transform: uppercase;
        padding: 11px 12px 6px;
        width: 100%;
      }

      .field__label {
        display: none !important;
      }

      .newsletter-form__button {
        font-size: 16px;
        line-height: 23px;
        font-weight: normal;
        letter-spacing: 0.96px;
        padding: 12px 21px 6px;
        height: auto;
        background-color: #000;
        width: auto;
        font-family: 'Centra No2', sans-serif !important;
      }

      .newsletter-form__message {
        font-size: 16px;
        line-height: 23px;
        font-family: 'Centra No2', sans-serif !important;
        letter-spacing: 0.96px;
        color: #000;
        display: inline-block;
        font-weight: 300 !important;

        b {
          font-weight: medium !important;
        }
      }
    }

    .footer__list-social {
      max-height: max-content;
      gap: 12px;
      padding-top: 20px;

      .list-social__item {
        max-height: max-content;

        svg {
          border-radius: 100%;
          height: 32px;
          width: 32px;

          path {
            fill: black;
          }
        }
      }
    }

    .footer__blocks-wrapper {
      .footer-block {
        padding: 24px 0;
        border-right: 1px solid #000;

        @media (max-width: 750px) {
          border-right: 0;
          padding: 30px;

          & > div {
            padding-right: 0;
          }
          
          &:nth-child(2) {
            border-bottom: 1px solid #000;

            ul {
              margin-bottom: 0 !important;
            }
          }
        }

        &:last-child {
          border-right: 0;

          @media (max-width: 750px) {
            .footer-block__details-content:last-child {
              margin-bottom: 0 !important;
            }
          }
        }
      }
    }
  }
  
  .footer__content-bottom {
    background-color: #FFF;
    padding-bottom: 15px;

    .footer__column--info {
      flex-direction: row;
      justify-content: space-between;

      @media (max-width: 750px) {
        flex-direction: column;
        align-items: flex-start !important;
        text-align: center;
      }

      .visually-hidden {
        display: none;
      }

      .footer__payment {
        margin: 0;

        @media (max-width: 750px) {
          order: -1;
          margin-bottom: 24px;
        }
      }

      .footer__copyright,
      .footer__copyright * {
        font: normal normal 300 14px/27px 'Centra No2' !important;
        letter-spacing: 0.84px;
        color: #000000;
        text-transform: uppercase;

        @media (max-width: 750px) {
          font-size: 10px !important;
          margin: 0;
        }
      }

      .store-info,
      .store-info p {
        font: normal normal 300 14px/11px 'Centra No2' !important;
        letter-spacing: 0.84px;
        color: #000000;
        text-transform: uppercase;
        opacity: 1;

        @media (max-width: 750px) {
          font-size: 10px !important;
          margin: 0;
        }
      }

      @media (max-width: 750px) {
        .store-info {
          padding-left: 40px;
          text-align: left;
        } 
        .footer__copyright {
          text-align: left;
        }
      }
    }
  }
}

.kl_reviews__carousel__review {
  .kl_reviews__carousel__content__header {
    .kl_reviews__carousel__content_title {
      text-transform: uppercase !important;
      font-family: 'Centra No2', sans-serif !important;
      font-size: 30px !important;
      line-height: 120%;
      font-weight: 800 !important;
      text-shadow: 0 0 black;

      @media (max-width: 750px) {
        font-size: 19px !important;
      }
    }

    .kl_reviews__carousel__content_body {
      font-family: 'Centra No2', sans-serif !important;
      font-size: 16px !important;
      line-height: 120%;
      font-weight: 400 !important;

      @media (max-width: 750px) {
        font-size: 12px !important;
      }
    }
  }

  .kl_reviews__carousel__time_badge {
    svg {
      display: none;
    }
  }

  @media (max-width: 750px) {
    .kl_reviews__carousel__timestamp {
      font-size: 11px !important;
    } 
  }

  .kl_reviews__carousel__author {
    color: #000;
    text-transform: uppercase !important;
    font-family: 'Centra No2', sans-serif !important;
    font-size: 16px !important;
    line-height: 120%;
    font-weight: bold !important;

    div {
      padding-top: 6px;
    }

    @media (max-width: 768px) {
      font-size: 10px !important;
    }

    &::before {
      content: '';
      background-image: url('https://cdn.shopify.com/s/files/1/0620/1648/7614/files/icons8-verified-badge-50_48x.png?v=1740659462');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 24px;
      width: 24px;
      display: block;
    }
  }

  button.kl_reviews__carousel__next_button {
    box-shadow: unset;
  }
}

.kl_reviews__carousel.kl_reviews__carousel.kl_reviews__carousel button.kl_reviews__carousel__next_button {
  box-shadow: unset;
  right: -30px;
  z-index: 3;
  background: transparent !important;
}

.kl_reviews__carousel.kl_reviews__carousel.kl_reviews__carousel button.kl_reviews__carousel__prev_button {
  left: -30px;
  box-shadow: unset;
  background: transparent !important;
  z-index: 3;
}

.kl_reviews__carousel.kl_reviews__carousel.kl_reviews__carousel {
  max-width: unset !important;

  @media (max-width: 750px) {
    padding: 0 !important;
  }

  .swiper {
    max-width: 1100px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: #0b0b0b;
  }
}

.es-testimonial {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .swiper {
    padding-bottom: 20px;

    @media (max-width: 750px) {
      padding: 0 30px;

      .swiper-button-next {
        right: 0;
      }

      .swiper-button-prev {
        left: 0;
      }
    }
  }

  .page-width {
    max-width: unset;

    .testimonial-wrapper {
      max-width: calc(100% - 100px);
      margin: auto;
      overflow: hidden;

      @media (max-width: 768px) {
        max-width: unset;
        padding-bottom: 20px;
      }

      .testimonial-quote,
      .testimonial-quote p {
        color: #000;
        font-size: 30px;
        letter-spacing: .16px;
        line-height: 120% !important;
        font-weight: 800 !important;
        font-family: 'Centra No2', sans-serif !important;
        text-shadow: 0 0 black;

        @media (max-width: 750px) {
          font-size: 19px;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      display: flex;
    }

    .swiper-pagination {
      bottom: 0;

      .swiper-pagination-bullet-active {
        background-color: #0b0b0b;
      }
    }
  }
}

.es-main-header {
  padding-left: 15px !important;
  padding-right: 15px !important;
  max-width: 1600px;
  margin: auto;

  .es-empty {
    margin-right: auto;
    display: block;
    flex: 1;
  }

  .header__icons {
    margin-left: auto;
    flex: 1;
    justify-content: flex-end;

    .header__icon  {
      width: max-content !important;
      text-decoration: unset !important;
      color: #fff;
      gap: 6px;
      font: normal normal 300 14px/20px 'Centra No2' !important;
      letter-spacing: 0.84px;
      color: #FFFFFF;
      text-transform: uppercase;

      &.header__icon--cart,
      &.header__icon--account {
        & > span {
          padding-top: 6px;
        }
      }

      .cart-count-bubble {
        position: static;
        background-color: #FFF !important;
        color: #000 !important;
        padding-top: 5px;
        font: normal normal bold 14px/20px 'Centra No2' !important;
        letter-spacing: 0.84px;
        text-transform: uppercase;
        opacity: 1;
        height: 24px;
        width: 24px;
      }

      &:hover::after {
        content: unset !important;
      }
    }
  }
}

div[data-testid="animated-teaser"] {
  & > span:first-child {
    background-image: url("https://cdn.shopify.com/s/files/1/0620/1648/7614/files/dsk-footer-yc-monogram.svg?v=1741286957") !important;
  }
}

body {
  position: relative;

  div[aria-label="Open Form"] {
    bottom: 4px !important;
    left: 35px !important;
    height: 64px !important;
    width: 64px !important;
    padding: 5px;
    box-sizing: border-box;
    margin: 0 !important;
  
    @media (max-width: 750px) {
      bottom: 38px !important;
      left: 27px !important;
      height: 44px !important;
      width: 44px !important;
    }
  
    div[data-testid="animated-teaser"] {
      span {
        background-size: contain !important;
        padding: 0 !important;
        border-radius: 0 !important;
      }
    }
  }
}


.template-index {
  .swym-wishlist-collections-v2-container {
    display: none !important;
  }
  @media (max-width: 768px) {
    main {
      margin-top: -4px;
    }
  }
}