.w-100 {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .medium-up--hide {
    display: none !important;
  }
}

@media screen and (min-width: 990px) {
  .large--hide {
    display: none !important;
  }
}

@media (min-width: 769px) and (max-width: 989px) {
  .medium--hide {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .small--hide {
    display: none !important;
  }
}

.es-awards {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);

  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: 768px) {
        justify-content: center;

        .image {
          width: 100px;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.es-icon-with-text {
  text-align: center;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .es-iwt--text {
    margin-top: 4px;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      background: rgba(255, 255, 255, 0.31);
      height: 1px;
      width: 100%;
      z-index: 1;
    }
    .es-iwt--text-wrapper {
      color: #B19F67;
      text-align: center;
      font-family: "Centra No2", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px; /* 153.333% */
      text-transform: uppercase;
      padding: 0 24px;
      width: max-content;
      z-index: 2;
      margin: auto;
      position: relative;
      background-color: black;
    }
  }
}

.es-featured-collection {
  .price--on-sale .price__sale {
    gap: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card__information .price span {
    font-size: 15px;
  }

  .price__container {
    .price-item {
      font-weight: 400 !important;
      font-family: 'SourceSerif-Pro-regular' !important;
      font-size: 16px !important;
    }

    .yas_newd_pric {
      padding-right: 5px;
    }
  }

  .card__heading {
    color: #FFF !important;
  }

  @media (max-width: 768px) {
    .yas-card-title_wrapp a {
      font-size: 16px !important;
    }
  }

  .title {
    color: #FFF !important;
    text-align: center;
    font-family: "Centra No2", sans-serif !important;
    font-size: 45px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 100%; /* 51.111% */
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 32px !important;
    }
  }

  .card-wrapper {
    padding-bottom: 30px;
    
    .card__content {
      position: relative;

      .card__information {
        padding-bottom: 8px;
      }

      .product_small_desc_info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        line-height: 110%;
        text-align: center;
        transform: translateY(100%);
      }
    }
  }

  .es-swiper {
    overflow: hidden;

    & > .swiper-wrapper {
      padding-left: 0;
      align-items: stretch;

      .swiper-slide {
        height: auto !important;

        .card-wrapper {
          width: 100%;

          .card__information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .yas-card-title_wrapp {
              a {
                color: #FFF;
                text-align: center;
                font-family: "Centra No2";
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.6px;
                text-transform: capitalize;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 250px;
                display: block;
                margin: auto;

                @media screen and (max-width: 1200px) {
                  max-width: 200px;
                }

                @media screen and (max-width: 768px) {
                  max-width: 140px;
                }
              }
            }

            .card__heading {
              flex: auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .yas-card-title_wrapp + * {
                margin-top: auto;
              }
            }
          }
        }
      }
    }

    .swiper-wrapper[data-size="1"],
    .swiper-wrapper[data-size="2"],
    .swiper-wrapper[data-size="3"] {
      justify-content: center;

      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: auto !important;
    height: auto;
    transform: translateZ(9000px);

    @media (min-width: 769px) {
      top: 36%;
    }

    &::after {
      content: unset;
    }
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .es-tab {
    .es-tab--header {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        gap: 22px;
      }
  
      a {
        color: #FFF !important;
        text-align: center;
        font-family: "Centra No2";
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400;
        line-height: 23px; /* 115% */
        text-transform: capitalize;
        display: block;
        position: relative;
        
        @media (max-width: 768px) {
          font-size: 13px !important;
        }
  
        &.active::after {
          content: '';
          height: 3px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.41);
        }
      }
    }

    .es-tab--body {
      .es-tab--body-item {
        display: none;

        &.active {
          display: block;
        }

        & > .swiper {
          max-width: calc(var(--page-width) + 80px);
          padding: 0 50px;

          @media (max-width: 768px) {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

.es-curated-reviews {
  height: auto !important;
  background-color: var(--background-color);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .container {
    .curated-reviews-swiper {
      .swiper-wrapper {
        margin-bottom: 60px;

        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .swiper-pagination-bullet {
        background: #4C4C4C;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: #FFF;
        }
      }

      .swiper-slide {
        height: auto !important;
        justify-content: center;

        .cr-text,
        .cr-text * {
          color: #FFF;
          text-align: center;
          font-family: "Source Serif Pro" !important;
          font-size: 55px;
          font-style: italic;
          font-weight: 400;
          line-height: 71px; /* 129.091% */
          letter-spacing: 0.6px;

          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 31px;
          }
        }
  
        .cr-name {
          color: #FFF;
          text-align: center;
          font-family: "Centra No2";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px; /* 208.333% */
          letter-spacing: 0.6px;
          text-transform: uppercase;
          margin-top: 10px;

          @media (max-width: 768px) {
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  #shopify-section-header-second {
    transition: .3s ease;
    background-color: #000;
    z-index: 999;
  
    .yas-main-header {
      transition: .3s ease;
  
      .yas-centerside-h {
        img {
          transition: .3s ease;
        }
      }
    }
  
    &.scrolled {
      position: sticky !important;
      top: 0 !important;
  
      .yas-main-header {
        padding: 16px 0;
  
        .yas-centerside-h {
          img {
            width: 126px;
            height: auto;
          }
        }
      }
    }
  }

  #shopify-section-announcement-bar,
  #shopify-section-header {
    transition: .3s ease;
    z-index: 999;
  
    &.scrolled {
      top: -40px !important;
      z-index: 1000 !important;

      .header__icons {
        position: relative;
        top: 53px;

        .modal__content {
          min-width: 500px;
          left: unset !important;
          right: -5px;

          .modal-overlay {
            display: none;
          }
        }
      }
    }

    .search-modal__content {
      .field:after {
        content: unset;
      }
      *:focus-visible {
        outline: unset !important;
        box-shadow: unset !important;
      }
    }
  }  

  .yas-under-header {
    position: absolute;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  #shopify-section-header {
    z-index: 80000;
    background-color: #000 !important;
  }
  .upcart-cart {
    z-index: 80001 !important;
  }
}

.es-media-with-text {
  .container {
    max-width: unset;
    padding: 0;
    height: 100vh;
    position: relative;

    .media-wrapper {
      display: flex;
      height: 100%;

      @media screen and (max-width: 989px) {
        flex-direction: column;
      }

      .media-item {
        flex: 1;
        height: 100%;
        position: relative;

        &::after {
          content: '';
          background-color: var(--background-color);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
        }

        .video,
        .image {
          position: relative;
          height: 100%;
          width: 100%;

          video,
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .media-item--link {
          z-index: 2;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .content-wrapper {
      z-index: 3;
      position: absolute;

      &.center {
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 24px;
        transform: translate(-50%, -50%);
      }

      &.bottom {
        bottom: 83px
      }

      &.right {
        right: 140px;
        max-width: 550px;
      }

      @media screen and (max-width: 989px) {
        &.bottom.right {
          top: 50%;
          right: 0;
          width: 100%;
          bottom: unset;
          padding: 0 24px;
          text-align: center;
          transform: translateY(-50%);
        }
      }
      

      .content-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 50px;
        font-size: 60px;
        color: #fff;
        width: 100%;

        @media (max-width: 989px) {
          font-size: 40px;
          line-height: 40px;
        }
        
        a {
          color: inherit;
        }
      }

      .content-sub-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: .06em;
        line-height: normal;
        color: #fff;
        padding: 0 20px;
        margin: 0;
        border: 0px solid #fff;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background: #dd4124;
        border-radius: 15px;

        @media screen and (max-width: 989px) {
          white-space: wrap;
        }
      }
    }

    .logos-wrapper {
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 140px;
      z-index: 4;

      @media screen and (max-width: 989px) {
        padding: 0 20px;
        flex-wrap: wrap;
      }

      .logos-heading {
        width: auto;
        display: flex;
        margin-right: 65px;
        align-items: flex-end;
        font-family: 'CentraNo2-Book' !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        min-width: max-content;
        line-height: 18px;
        text-align: left;
        font-size: 15px;
        color: #fff;

        @media screen and (max-width: 989px) {
          margin: 0 0 15px;
          text-align: center;
        }
      }

      .swiper-wrapper {
        align-items: center;

        .swiper-slide {
          img {
            display: block;
            margin: auto;
          }
        }

        @media screen and (min-width: 990px) {
          .swiper-slide {
            max-width: max-content;
          } 
        }
      }
    }
  }
}

.es-homepage-footer {
  .footer-wrapper {
    display: flex;
    height: 100vh;

    @media (max-width: 989px) {
      flex-direction: column;
    }

    .slider__newsletter {
      flex: 1;
      height: 100%;
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      background: #fff;
      align-items: center;
      padding: 110px 0 40px;
      background-size: cover;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: top right;
      background-image: var(--background-image);

      @media (max-width: 989px) {
        padding: 60px 0;
        max-width: 100%;
      }

      .footer__newsletter {
        padding: 0 50px;
        max-width: 1640px;
        align-items: center;

        @media (max-width: 989px) {
          padding: 0 15px;
        }
      }

      .newsletter-form__field-wrapper {
        max-width: unset;
        margin-top: 25px;
      }

      .footer-text,
      .footer-text * {
        max-width: 630px;
        margin: 40px auto;
        text-align: center;
        font-size: 18px;
        color: white;
        line-height: 27px;
        font-family: "CentraNo2-Light" !important;
        text-transform: uppercase;
        font-weight: 300;

        strong {
          font-weight: 600;
        }
      }

      .submit-w-text {
        .field__button {
          margin: 0 auto;
          font-family: "CentraNo2-Light" !important;
          font-weight: 300 !important;
          font-size: 17px;
          letter-spacing: 0.06em;
          line-height: 23px;
          text-align: left;
          color: white;
          border: 1px solid #dd4124;
          margin-top: 27px;
          width: auto;
          padding: 0 25px;
          position: relative;
          color: white;
          background: #dd4124;
          border-radius: 15px;
        }
      }

      .field {
        input {
          border-bottom: 1px solid white;
          max-width: 686px;
          font-family: "CentraNo2-Light" !important;
          font-weight: 300 !important;
          font-size: 17px;
          color: white;
          margin: 0 auto;
          box-shadow: none;
          background: transparent;
          max-width: unset;
  
          & + label {
            left: 0;
            color: #AFAFAF;

            @media (max-width: 989px) {
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        &::after,
        &::before {
          box-shadow: unset;
          border: 0;
        }
      }

      .footer-block__heading {
        font-family: "Source Serif 4", sans-serif !important;
        font-weight: 300 !important;
        text-transform: unset;
        font-style: italic;
        text-align: center;
        text-align: center;
        line-height: 60px;
        max-width: 660px;
        font-size: 60px;
        color: white;

        @media (max-width: 989px) {
          font-size: 40px;
          line-height: 40px;
          margin: 0;

          & + svg {
            margin-top: 20px;
            margin-bottom: 25px;
          }
        }
      }

      @media (max-width: 989px) {
        .list-social__item {
          svg {
            width: 28px;
            height: auto;
          }
        }
      }
    }

    footer {
      flex: 1;
      height: 100%;
      display: flex;
      max-width: 50%;
      flex-wrap: wrap;
      background: #fff;
      align-items: center;
      padding: 110px 40px 40px 130px;
      justify-content: flex-start;

      @media (max-width: 989px) {
        max-width: 100%;
        padding: 60px 0 0;
        text-align: center;
      }

      .footer__content-top {
        padding: 0;

        @media (max-width: 989px) {
          padding: 0 15px;
        }

        .footer__blocks-wrapper {
          justify-content: center;
          flex-direction: column;
          row-gap: 30px;
  
          img {
            height: auto;
            max-width: 75px;
            margin-bottom: 10px;
          }
  
          .footer-block__details-content {
            color: #000;
            line-height: 20px;
  
            p {
              line-height: inherit;
            }
  
            .list-menu__item--link {
              font-size: 16px;
              line-height: 20px;
              text-transform: uppercase;
              font-family: "CentraNo2-Light" !important;
              font-weight: 300 !important;
              text-decoration: none;
              color: inherit;
              display: block;
              line-height: 20px;

              @media (max-width: 989px) {
                font-size: 13px;
                line-height: normal;
              }
            }
          }
  
          .footer-block__heading {
            margin: 0;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
          }
  
          .grid__item {
            width: 100% !important;
          }

          @media (max-width: 989px) {
            .footer-block-logo {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 24px;
              text-align: left;
              gap: 15px;

              img {
                width: 60px;
                margin-bottom: 0;
              }

              .footer-block__details-content {
                max-width: 180px;
                margin-bottom: 0;

                p {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
      
      .footer__content-bottom {
        border: 0;
        padding-top: 15px;

        @media (max-width: 989px) {
          background-color: #EFEFEF;
          padding-bottom: 15px;
        }

        .footer__content-bottom-wrapper {
          padding: 0;

          .footer__column--info {
            align-items: flex-start;

            .footer__payment {
              margin: 0;
            }

            .footer__copyright {
              margin: 25px 0 0;
              color: #000; 
              width: 100%;

              * {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}

.upcart-cart {
  z-index: 21474836409999 !important;

  .styles_CartPreview__card__ {
    background-color: #FFF;
  }

  .upcart-rewards-tier-description {
    display: none;
  }

  p {
    font-family: inherit !important;
  }

  .upcart-rewards-message {
    p {
      color: #000;
    }
  }

  .upcart-header-text,
  .upcart-announcement p {
    color: #000 !important;
  }

  .upcart-es-message-wrapper {
    gap: 24px;
    display: flex;
    align-items: center;
    padding-top: 15px;
  
    .upcart-es-message-wrapper--item {
      gap: 12px;
      flex: 1;
      display: flex;
      align-items: center;
  
      span {
        color: #000;
        font-size: 13px;
        text-align: left;
        font-weight: 400;
        line-height: 15px;
        font-style: normal;
        text-transform: capitalize;
        font-family: "Centra No2", sans-serif;
      }
    }
  }

  .styles_Header__closeButton__ {
    background-color: transparent;

    .styles_Header__closeButtonIcon__ {
      fill: #000000;
      height: 16px;
      width: 16px;
    }
  }

  .styles_Header__ {
    border-bottom: 0;
    padding-bottom: 18px;
  }

  .upcart-cart-body {
    .upcart-rewards {
      .upcart-rewards-message {
        color: #000;
        text-align: center;
        font-family: "Centra No2";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
      }
    }
  }

  .upcart-rewards {
    padding: 18px 20px 12px;
    position: relative;

    &::after {
      content: '';
      border-bottom: 1px solid #E2E2E2;
      display: block;
      position: absolute;
      left: 20px;
      bottom: 0;
      width: calc(100% - 40px);
    }
  }

  .upcart-products-section {
    padding: 24px 0;
    background-color: #fff;

    .styles_ProductRow__product__ {
      padding: 0 20px;
      border-bottom: 0;

      .Stack--spacingLoose {
        margin: 0 !important;

        .Stack__item {
          margin: 0 !important;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .upcart-item-properties {
            display: none;
          }

          .upcart-product-image-wrapper {
            height: auto !important;

            a {
              max-height: unset !important;

              img {
                max-height: unset !important;
              }
            }
          }

          .styles_ProductRow__productHeading__ {
            padding-left: 15px;

            .upcart-product-title {
              .upcart-product-title-link {
                color: #000;
                font-family: "Centra No2", sans-serif !important;
                font-size: 15px;
                font-style: normal;
                font-weight: 700;
              }
            }

            .upcart-item-option {
              color: #707070;
              font-family: "Centra No2";
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              line-height: 9.9px; /* 66% */
            }
          }

          .Stack {
            margin: 0 !important;
            padding-left: 15px;
          }

          .styles_QuantityField__ {
            .upcart-product-quantity-minus {
              height: 40px;
              border-right: 0;
              max-height: 40px;
              border-top-left-radius: 50px !important;
              border-bottom-left-radius: 50px !important;
            }

            input {
              height: 40px;
              border-left: 0;
              border-right: 0;
              max-height: 40px;
            }

            .upcart-product-quantity-plus {
              height: 40px;
              border-left: 0;
              max-height: 40px;
              border-top-right-radius: 50px !important;
              border-bottom-right-radius: 50px !important;
            }
          }
        }
      }

      & + .upcart-product-item {
        margin-top: 16px;
      }
    }
  }

  #up-upsell-carousel {
    border-top: 1px solid #E2E2E2;
    padding: 16px 18px;

    &::before {
      content: 'Great wardrobe additions';
      color: #000;
      display: block;
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 8px;
      text-transform: uppercase;
      font-family: "Centra No2", sans-serif;
    }

    .upcart-upsells-title {
      display: none;

      & ~ span {
        width: 100%;
        display: block;
        max-width: 380px;
        margin-right: 16px;
        background-color: #fff;

        .styles_PreviewCarousel__verticalWrapper__ {
          margin-top: 0;
        }
      }
    }

    .control-prev {
      left: -16px !important;
    }

    .control-next {
      right: -16px !important;
    }

    .Stack {
      margin: 0 !important;

      .Stack__item {
        margin: 0 !important;

        .upcart-upsell-item-image-wrapper {
          height: 110px !important;
          justify-content: flex-start;

          img {
            max-height: 110px !important;
          }
        }
      }

      & > .Stack__item--fill {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .styles_PreviewCarousel__selectWrapper__ {
          width: 100%;

          .styles_PreviewCarousel__select__ {
            border-radius: 50px;
            height: 40px;
            max-height: 40px;
          }
        }

        .styles_PreviewCarousel__inputWrapper__ {
          max-width: max-content;

          input {
            max-width: max-content;
            padding: 8px 24px !important;
            border-radius: 50px;
            max-height: 40px !important;
            height: 40px !important;
          }
        }
      }
    }

    .flickity-viewport {
      height: 142px;
    }
  }

  .upcart-trust-badge-image {
    width: 300px;
    margin: auto;
    display: block;
  }

  .DiscountCodeModule_DiscountCodeModule__form__ input {
    border-radius: 50px;
    height: 40px;
  }

  .upcart-discount-code-input-wrapper {
    border-radius: 50px;
    overflow: hidden;
  }

  .styles_TrashButton__deleteButton__ {
    display: none;
  }

  button.UpcartDesignSettings__button {
    background-color: #000;
    border-radius: 50px;
  }

  .styles_Footer__ {
    border-top: 0;
    background-color: #F6F6F7;
  }

  .styles_CustomButton__ {
    a {
      border-radius: 50px;
      height: 44px;
      padding: 12px !important;
    }
  }

  .styles_Footer__checkoutButton__ {
    & + div {
      display: none;
    }
  }

  .styles_PreviewCarousel__item__ {

  }
}

.yas-videom-pop .white-popup-block{
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.yas-videom-pop  .mfp-content {
  height: 100%;
  width: 100%;
}
.mfp-wrap.yas-videom-pop{
  z-index: 9999999999;
}
.yas-videom-pop.mfp-close-btn-in .mfp-close {
  right: 44px;
  top: 40px;
  z-index: 9;
}

.mfp-bg.mfp-ready{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 1;
  display: block;
}
.white-popup-block{
  max-width: 60%;
  height: auto;
  margin: 0 auto;
  position: relative;
  text-align: center;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
  right: -44px;
  top: -40px;
  font-size: 44px;
}
.white-popup-block video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: flex;
}