.w-100 {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .medium-up--hide {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .small--hide {
    display: none;
  }
}

.es-awards {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-color: var(--background-color);

  .container {
    .row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 16px;

      @media (max-width: 768px) {
        justify-content: center;

        .image {
          width: 100px;
          height: auto;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

.es-icon-with-text {
  text-align: center;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .es-iwt--text {
    margin-top: 4px;
    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      background: rgba(255, 255, 255, 0.31);
      height: 1px;
      width: 100%;
      z-index: 1;
    }
    .es-iwt--text-wrapper {
      color: #B19F67;
      text-align: center;
      font-family: "Centra No2", sans-serif;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px; /* 153.333% */
      text-transform: uppercase;
      padding: 0 24px;
      width: max-content;
      z-index: 2;
      margin: auto;
      position: relative;
      background-color: black;
    }
  }
}

.es-featured-collection {
  .price--on-sale .price__sale {
    gap: 4px;
    display: flex;
    justify-content: center;
  }

  .card__heading {
    color: #FFF !important;
  }

  @media (max-width: 768px) {
    .yas-card-title_wrapp a {
      font-size: 16px !important;
    }
  }

  .title {
    color: #FFF !important;
    text-align: center;
    font-family: "Centra No2", sans-serif !important;
    font-size: 45px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 100%; /* 51.111% */
    text-transform: uppercase;

    @media (max-width: 768px) {
      font-size: 32px !important;
    }
  }

  

  .es-swiper {
    overflow: hidden;

    & > .swiper-wrapper {
      padding-left: 0;
      align-items: stretch;

      .swiper-slide {
        height: auto !important;

        .card-wrapper {
          width: 100%;

          .card__information {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card__heading {
              flex: auto;
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .yas-card-title_wrapp + * {
                margin-top: auto;
              }
            }
          }
        }
      }
    }

    .swiper-wrapper[data-size="1"],
    .swiper-wrapper[data-size="2"],
    .swiper-wrapper[data-size="3"] {
      justify-content: center;

      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: auto !important;
    height: auto;
    transform: translateZ(9000px);

    @media (min-width: 769px) {
      top: 36%;
    }

    &::after {
      content: unset;
    }
  }

  .swiper-button-prev {
    left: 5px;
  }

  .swiper-button-next {
    right: 5px;
  }

  .es-tab {
    .es-tab--header {
      display: flex;
      justify-content: center;
      gap: 50px;
      margin-bottom: 40px;

      @media (max-width: 768px) {
        gap: 22px;
      }
  
      a {
        color: #FFF !important;
        text-align: center;
        font-family: "Centra No2";
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400;
        line-height: 23px; /* 115% */
        text-transform: capitalize;
        display: block;
        position: relative;
        
        @media (max-width: 768px) {
          font-size: 13px !important;
        }
  
        &.active::after {
          content: '';
          height: 3px;
          width: 100%;
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.41);
        }
      }
    }

    .es-tab--body {
      .es-tab--body-item {
        display: none;

        &.active {
          display: block;
        }

        & > .swiper {
          max-width: calc(var(--page-width) + 80px);
          padding: 0 50px;

          @media (max-width: 768px) {
            padding: 0 20px;
          }
        }
      }
    }
  }
}

.es-curated-reviews {
  height: auto !important;
  background-color: var(--background-color);
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);

  .container {
    .curated-reviews-swiper {
      .swiper-wrapper {
        margin-bottom: 60px;

        @media (max-width: 768px) {
          margin-bottom: 30px;
        }
      }

      .swiper-pagination-bullet {
        background: #4C4C4C;
        opacity: 1;

        &.swiper-pagination-bullet-active {
          background: #FFF;
        }
      }

      .swiper-slide {
        height: auto !important;
        justify-content: center;

        .cr-text,
        .cr-text * {
          color: #FFF;
          text-align: center;
          font-family: "Source Serif Pro" !important;
          font-size: 55px;
          font-style: italic;
          font-weight: 400;
          line-height: 71px; /* 129.091% */
          letter-spacing: 0.6px;

          @media (max-width: 768px) {
            font-size: 24px;
            line-height: 31px;
          }
        }
  
        .cr-name {
          color: #FFF;
          text-align: center;
          font-family: "Centra No2";
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 50px; /* 208.333% */
          letter-spacing: 0.6px;
          text-transform: uppercase;
          margin-top: 10px;

          @media (max-width: 768px) {
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  #shopify-section-header-second {
    transition: .3s ease;
    background-color: #000;
    z-index: 999;
  
    .yas-main-header {
      transition: .3s ease;
  
      .yas-centerside-h {
        img {
          transition: .3s ease;
        }
      }
    }
  
    &.scrolled {
      top: 0 !important;
  
      .yas-main-header {
        padding: 16px 0;
  
        .yas-centerside-h {
          img {
            width: 126px;
            height: auto;
          }
        }
      }
    }
  }

  #shopify-section-announcement-bar,
  #shopify-section-header {
    transition: .3s ease;
    z-index: 9999999999;
  
    &.scrolled {
      top: -40px !important;
      z-index: 1000 !important;

      .header__icons {
        position: relative;
        top: 53px;

        .modal__content {
          min-width: 500px;
          left: unset !important;

          .modal-overlay {
            display: none;
          }
        }
      }
    }

    .search-modal__content {
      .field:after {
        content: unset;
      }
      *:focus-visible {
        outline: unset !important;
        box-shadow: unset !important;
      }
    }
  }  

  .yas-under-header {
    position: absolute;
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 989px) {
  #shopify-section-header {
    z-index: 9999999999;
    background-color: #000 !important;
  }
}

.es-media-with-text {
  .container {
    max-width: unset;
    padding: 0;
    height: 100vh;
    position: relative;

    .media-wrapper {
      display: flex;
      height: 100%;

      @media screen and (max-width: 989px) {
        flex-direction: column;
      }

      .media-item {
        flex: 1;
        height: 100%;
        position: relative;

        &::after {
          content: '';
          background-color: var(--background-color);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
        }

        .video,
        .image {
          position: relative;
          height: 100%;
          width: 100%;

          video,
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .media-item--link {
          z-index: 2;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .content-wrapper {
      z-index: 3;
      position: absolute;

      &.center {
        top: 50%;
        left: 50%;
        width: 100%;
        padding: 0 24px;
        transform: translate(-50%, -50%);
      }

      &.bottom {
        bottom: 83px
      }

      &.right {
        right: 140px;
        max-width: 550px;
      }

      @media screen and (max-width: 989px) {
        &.bottom.right {
          top: 50%;
          right: 0;
          width: 100%;
          bottom: unset;
          padding: 0 24px;
          text-align: center;
          transform: translateY(-50%);
        }
      }
      

      .content-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        margin-bottom: 15px;
        line-height: 50px;
        font-size: 60px;
        color: #fff;
        width: 100%;

        @media (max-width: 989px) {
          font-size: 40px;
          line-height: 40px;
        }
        
        a {
          color: inherit;
        }
      }

      .content-sub-heading {
        font-family: 'CentraNo2-Light', sans-serif !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        font-size: 20px;
        letter-spacing: .06em;
        line-height: normal;
        color: #fff;
        padding: 0 20px;
        margin: 0;
        border: 0px solid #fff;
        width: auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        background: #dd4124;
        border-radius: 15px;

        @media screen and (max-width: 989px) {
          white-space: wrap;
        }
      }
    }

    .logos-wrapper {
      position: absolute;
      bottom: 10%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 140px;
      z-index: 4;

      @media screen and (max-width: 989px) {
        padding: 0 20px;
        flex-wrap: wrap;
      }

      .logos-heading {
        width: auto;
        display: flex;
        margin-right: 65px;
        align-items: flex-end;
        font-family: 'CentraNo2-Book' !important;
        font-weight: 300 !important;
        text-transform: uppercase;
        letter-spacing: 0.06em;
        min-width: max-content;
        line-height: 18px;
        text-align: left;
        font-size: 15px;
        color: #fff;

        @media screen and (max-width: 989px) {
          margin: 0 0 15px;
          text-align: center;
        }
      }

      .swiper-wrapper {
        align-items: center;

        .swiper-slide {
          img {
            display: block;
            margin: auto;
          }
        }

        @media screen and (min-width: 990px) {
          .swiper-slide {
            max-width: max-content;
          } 
        }
      }
    }
  }
}